.product-title {
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
    margin-bottom: 13px;
}


.productPrice {
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;

}

.productWeight {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.itemImage {
    width: 210px;
    height: 212px;
    margin-bottom: 30px;
}

.itemCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20%;
    min-height: 400px;
    margin-bottom: 35px;
    margin-right: 18px;
    padding: 43px 21px 36px 21px;
    border: 1px solid #D58C51;
    color: #FFFFFF;
}

.itemCard:hover {
    cursor: pointer;
    color: #D58C51;
    transition: 0.1s;
}

.product-description {
    flex-grow: 1;
    margin-bottom: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Показываем только 3 строки */
    -webkit-box-orient: vertical;
}

.cardBottom {
    display: flex;
    justify-content: space-between;
    margin-top: 20px; /* Добавляем отступ сверху */
}


.addButton {
    background-color: #161516;
    position: relative;
    border: 2px solid #FFFFFF;
    border-radius: 50px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.addButton:hover {
    background-color: #D58C51;
    transition: 0.1s;
}

.plus {
    position: absolute;
    top: 6px;
    left: 6px;
}

