body {
  margin: 0;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Montserrat', source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'),
    url('./assets/Montserrat-Regular.eot');
  src: local('Montserrat'),
    url('./assets/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
    url('./assets/Montserrat-Regular.woff') format('woff'),
    url('./assets/Montserrat-Regular.ttf') format('truetype');
  font-weight: 400;
  /*normal*/
  font-style: normal;
  font-display: swap;
}